<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <!-- Place favicon.ico in the root directory -->


  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <!-- Add your site or application content here -->
  <h1>Serenity Home Automation</h1>
  <h2> Switch: {{ 'On' if switch else 'Off' }}</h2>
  <p>
    <button type='button' id='load_on'>LOAD ON</button>
    <button type='button' id='load_off'>LOAD OFF</button>
  </p>

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
  <script>
    $(document).ready(function() {
      $('#load_on').click(function() {
        $.post('/load/1');
        console.log('Load -> ON')
      });
        $('#load_off').click(function() {
          $.post('/load/0');
        console.log('Load -> OFF')
      });
    });
  </script>
</body>

</html>

